/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
 */

body{
    background-image: url(./img/Work_md_bg_img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.box-border{
    border: 1px solid black;
}


.toDoOuter{
    background-color: white;
    border: none;
}
.toDoFullContent{
    cursor: pointer;
}
.forStyle{
    font-family: 'Montserrat', sans-serif;    letter-spacing: 2px;

}

.forRadio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-size: 24px;
    position: relative;
}
.unchecked{
    background-image: url(./img/uncheck.png);
    background-position: center;
    background-size: contain;
    height: 30px;
    width: 30px;
}
.checked{
    position: absolute;
    background-image: url(./img/Checked.png);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    height: 34px;
    width: 34px;
}
.toDoContent{
    font-size: 17px;
    font-size: large;
    
}
#addButton{
    background: #ffa858cf;;
    border: #ff7c00cf;
    width: 15%;
    right: 14.5%;
    top: 3%;
}

#addButton:hover{
    background: #ff7c00cf;
    
}
#getinput{
    padding-right: 16% !important;
    width: 75%;
    
}

@media (min-width:320px){
    body{
        background-image: url(./img/for_mobile_view_bg_img.jpg);
        background-position: center;
    }
}